/*Give the <body> element a background of #bda464*/
body { background-color: #bda464;}
/*Make the <h1> elements blue*/
h1 { color: blue;}
/*Make all <li> elements in the shade of hexadecimal blue*/
li { color: #023E8A;}
/*Paragraph background to orange*/
p {background-color: orange;}
/*Make all <h3> have 5px red solid border*/
h3 { border: 5px solid red;}
/*Give everything with <abbr> bold and underlined*/
abbr { 
    font-weight: bold;
    text-decoration: underline;
}
/*Give elements with class "explanation" red*/
.explanation {color: red;}
/*Give <p> in id "zen-benefits" pink background*/
#zen-benefits p { background-color: pink;}
/*Make <li> adjacent to <h2> red background*/
h2 + li {background-color: red;}
/*Give <em> inside <p> red and bold*/
p em {
    color: red;
    font-weight: bold;
}
/* Give visited link green */
a:visited { color: green;}
/* Change to body font to any google font as you like */
body { font-family: Georgia, 'Times New Roman', Times, serif}
/* Add any animation to <h1> (try the new one not same as the example) */
@keyframes myAnimation {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% { 
        opacity: 1;
        transform: translateX(0);
    }
}
h1 {
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}